@import '../variables/colors';

#root {
  height: 100% !important;
  overflow-y: scroll !important;
}

.main-form-container {
    background-color: map-get($colors,"white" );
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 35%;
    display: flex;
    grid-template-columns: 150px 1fr;
    gap: 10px 20px; /* Space between label and input and between rows */
    margin:5px 35%;
    overflow: auto;
}

.enable-scroll {
  overflow-y: scroll;
  max-height: 300px; /* Example of setting maximum height */
}

.main-form-container label {
    text-align: left;
    padding-right: 10px; /* Space between label and input */
  }

  

  .main-form-container input {
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }


.main-form-container button {
    width: 30%;
    padding: 10px;
    background-color: map-get($colors,"blue" );
    color: map-get($colors, "white");
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
    display: inline-block;
}

.org-create-header{
    text-align: center;
    margin-bottom: 20px; /* Space between header and form */
}

.main-form-btn{
    margin: 17px 0px 5px 15%;
    align-self: center;
}


.main-form-container button:hover {
    background-color: map-get($colors, "darkBlue" );
}

.success-container{
  color:map-get($colors,"green" );
  display: block;
}

.error-container{
  color:map-get($colors,"red" );
  display:block;
}

.form-inner-container{
  margin-bottom: 10px;
}

@media (max-width: 728px) {
    .main-form-container {
      width: 100%;
      margin:0px;
      // overflow-y: auto;
      justify-content: center;
    }

    .form-inner-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
      }

      .main-form-btn{
        width: 100% !important;
    }
    
  }
  